  .ex-thumbnail-zoom {
    cursor: crosshair;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
  }
  
  .ex-thumbnail-zoom-img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .ex-zoom-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

/* Ignore */
body { padding-top: 20px; }
.jumbotron {
  margin-top: 10px;
  padding: 10px 0;
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
